.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: black;
}

.card {
  width: min(800px, 70%);
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  box-shadow: 1px 8px 15px;
  z-index: 2;
}

.loginForm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  border-top-left-radius: 18px;
  border-bottom-left-radius: 18px;
}

.inputs {
  display: flex;
  width: 80%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.inputs input, .inputs button, .register a {
  z-index: 3;
}

.inputs input {
  width: 100%;
  margin: 10px;
  padding: 10px;
  border-radius: 5px;
}

.inputs input:hover {
  border: 1px solid var(--secondary-color);
}

.inputs input:focus {
  border: 1px solid var(--secondary-color);
}

.loginButton {
  font-size: 1em;
  margin-top: 25px;
  border-radius: 25px;
}

.register {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-color);
  color: var(--text-color-alternative);
  border-top-right-radius: 18px;
  border-bottom-right-radius: 18px;
}

h2 {
  font-size: 2.5em;
  margin: 0;
}

.register p {
  font-size: 1.5em;
  margin-bottom: 50px;
}

.register a {
  padding: 10px 50px;
  color: var(--text-color-alternative);
  border: 1px solid var(--text-color-alternative);
  border-radius: 30px;
  transition: 0.15s;
}

.register a:hover {
  background-color: var(--text-color-alternative);
  color: var(--secondary-color);
}

.register a:active {
  transform: scale(0.95);
}

.color {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  min-width: 100%;
  opacity: 0.05;
  z-index: 1;
  background-color: var(--secondary-color);
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  max-width: 100%;
  z-index: 0;
  opacity: 1;
  filter: blur(5px);
}

.background img {
  overflow-x: hidden;
}

.loginForm a {
  display: none;
}

@media screen and (max-width: 600px) {
  .card {
    height: 350px;
  }
  .register {
    display: none;
  }
  .loginForm {
    border-radius: 18px;
  }
  .loginForm a {
    display: block;
    margin-top: 20px;
    z-index: 3;
  }
}