.container,
.titleContainer,
.aboutContainer,
.testimonialContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 100px;
  width: 100%;
}

.container,
.aboutContainer {
  margin-bottom: 0;
}

.container {
  margin-top: 150px;
}

.title {
  width: 700px;
}

.subtitle {
  width: 500px;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.button {
  padding: 10px;
  margin: 10px;
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--text-color-alternative);
  transition: 0.3s;
  width: 200px;
}

.button:hover {
  background-color: var(--main-color);
  color: var(--text-color-alternative);
}

.aboutContainer {
  flex-direction: row;
  background-color: var(--main-color);
}

.aboutImg,
.aboutText {
  width: 100%;
}

.aboutImg {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutImg img {
  width: 100%;
  border-radius: 48%;
  border-top-left-radius: 0%;
  border-bottom-left-radius: 0%;
}

.aboutText {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  color: var(--text-color-alternative);
}

.aboutText h2 {
  font-size: 2.5rem;
}

.aboutText p {
  font-size: 1.2rem;
}

/* .testimonials {
  display: flex;
} */

.testimonialContainer h2 {
  font-size: 2rem;
  margin-bottom: 50px;
}

.carousel {
  display: flex;
  width: 75%;
  position: relative;
}

.testimonialBackground {
  background: linear-gradient(90deg, var(--secondary-alternative-color), var(--secondary-color));
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  border-radius: 20px;
  z-index: -1;
  opacity: 0.5;
  filter: blur(30px);
}

.testimonialCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  margin: 20px;
  width: 100%;
  background-color: var(--card-color);
  border-radius: 10px;
}

.testimonialCard p {
  height: 100%;
}

.testimonialAuthor {
  font-weight: 700;
  margin: 10px;
}

.testimonialNotation {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--secondary-color);
  margin: 0;
  margin: 10px;
}