.navbar {
  width: 100%;
  position: absolute;
  z-index: 999;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  background-color: var(--background-color);
}

.navbarContainer {
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 70px;
  height: 70px;
  margin: 3px;
  transition: 0.15s;
}

.logo:hover {
  width: 75px;
  height: 75px;
  margin: 0.5px;
  cursor: pointer;
}

.navbarLinks {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbarLink {
  color: var(--text-color);
  margin: 10px;
  transition: 0.3s;
}
