.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footerContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
}

.copyright {
  position: absolute;
  left: 0;
}

.footerRow {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 30px;
  text-align: center;
}

.footerRow a {
  margin: 10px;
  transition: .3s;
  width: 150px;
}
