:root {
  /* --main-color: #646cff; */
  --main-color: #2B6076;
  --secondary-color: #90b644;
  --secondary-alternative-color: #86b626;
  --card-color: #fcfcfc;
  --background-color: #ffffff;
  --alternative-color: #e98341;

  --main-gradiant-color: #1d28fb;
  /* --secondary-color: #f8f8f8; */
  --background-color: rgba(255, 255, 255, 0.95);
  
  --hover-color: #181818;
  --hover-color-alternative: #2d2d2d;
  --hover-hyperlink-color: #3bc44b;
  
  --text-color: #303030;
  --text-color-alternative: #ffffff;

  --button-color: #fbd437;
  --button-color-alternative: #3bc44b;
  --button-color-hover: #a7d350;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: var(--text-color);
  background-color: var(--background-color);
  /* background: linear-gradient(45deg, var(--main-color), var(--main-gradiant-color)); */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(255, 255, 255, 0.99);
    --hover-color: rgba(225, 225, 225, 0.99);
    --selected-color: rgba(235, 235, 235, 0.99);
    --text-color: rgba(255, 255, 255, 0.87);
  }
} */

#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

a {
  color: var(--text-color);
  text-decoration: inherit;
}
a:hover {
  color: var(--hover-hyperlink-color);
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border: none;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-family: inherit;
  cursor: pointer;
  background-color: var(--secondary-color);
  color: var(--text-color-alternative);
  transition: 0.15s;
}

button:hover {
  background-color: var(--button-color-hover);
}

button:active {
  transform: scale(0.95);
}